body {
    background-color: #fbf7f3;
    font-family: 'Cormorant Garamond', serif;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
header {
    margin-top: 2rem;
}

h1 {
    display: inline-block;
    font-weight: 400;
}

nav {
    display: inline-block;
    margin-left: 2rem;
    font-size: 1.3rem;
}

.sections {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.sections li {
    display: inline-block;
}

.sections a {
    text-decoration: none;
    color: black;
    margin-right: 0.7rem;
}

.active {
    border-bottom: 1px solid black;
}

/* Gallery */
.gallery {
    margin-top: 2rem;
}

article {
    display: inline-block;
    width: 48.75%;
    margin-bottom: 2.5rem;
    margin-right: .821rem;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 0.4rem;
}

img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    background-color: #8e745a;
}

/* 
    failed attempt.
    img:hover {
    fill: gainsboro;
    fill-opacity: 45%;
} */

/* Footer */
footer {
    width: 500px;
    font-size: 2.2rem;
    margin: 4rem 8rem;
}

span {
    display: block;
    margin: 0;
}

.cta {
    font-size: 3rem;
    border-bottom: 2px solid black;
    max-width: 3.8em;
    text-decoration: none;
    color: black;
}

.cta:hover {
    color: #fbf7f3;
    background-color: #8e745a;
    border: none;
    padding: 1rem 2rem;
    font-size: 2rem;
}

.cntct p {
    margin: 0;
}

.cntct {
    font-size: 1.5rem;
    margin-top: 9.5rem;
}

.credit {
    text-align: center;
}

.credit a {
    text-decoration: gray dotted underline;
    color: black;
}

@media (max-width: 880px) {
    header {
        font-size: .8rem;
        padding: 1rem;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }

    article {
        width: 100%;
    }

    footer {
        margin: 0;
        padding: 4rem 0 0 2rem;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer p {
        width: 90%;
    }

    .cta {
        font-size: 2rem;
        border-bottom: 2px solid black;
        max-width: 3.8em;
        text-decoration: none;
        color: black;
    }

    .cta:hover {
        color: #fbf7f3;
        background-color: #8e745a;
        border: none;
        padding: .8rem 1rem;
        border-radius: 4px;
        font-size: 2rem;
    }

    .cntct {
        font-size: large;
        margin-top: 3.5rem;
    }

    .credit {
        align-self: flex-end;
        font-size: small;
    }
}